.Item-Style-Inventory{
    -fx-font-size: 16px;
    -fx-font-family: "System Bold";
    -fx-background-color: #444444;
}
.Item-Style-Product{
    -fx-font-size: 16px;
    -fx-font-family: "System Bold";
    -fx-background-color: #444444;
    -fx-border-width: 1px;
    -fx-border-color: #666666;
}