.Item-Style-Inventory{
    -fx-background-color: #444444;
}
.Item-Style-Product{
    -fx-background-color: #444444;
    -fx-border-width: 1px;
    -fx-border-color: #666666;
}
.Item-Style-Product:hover{
    -fx-background-color: #505050;
    -fx-border-color: #E09D0D;
}
.Item-Style-Product:pressed{
    
}
.Item-Style-Simple-Button{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}
.Item-Style-Simple-Button:hover{
    -fx-background-color: #444444;
    -fx-border-color: #E09D0D;
}
.Item-Style-Simple-Button:pressed{
    -fx-background-color: #3F3F3F;
    -fx-border-color: #E05D0D;
}
.spinner{
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-background-color: transparent;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #3F3F3F;
    -fx-body-color: #3F3F3F;
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
    -fx-border-width: 1px;
    
}
.spinner .text-field {
    -fx-font-family: "System Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #C3C3C3;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0 4px 0 4px;
    -fx-border-color: #3F3F3F;
}
.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: white;
    -fx-body-color: white;
    -fx-pref-height: 12px;
    -fx-border-radius: 0px;
    -fx-border-width: 1px;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #3F3F3F;
    -fx-body-color: #3F3F3F;
    -fx-border-color: #E09D0D;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color: #3F3F3F;
    -fx-body-color: #3F3F3F;
    -fx-border-color: #E05D0D;
}