.Container-Style{
    -fx-font-size: 20px;
    -fx-font-family: "System Bold";
    -fx-font-weight: bold;
    -fx-background-color: #444444;
    -fx-border-width: 4px;
    -fx-border-color: #666666;
}