.text-normal{
     -fx-font-size: 13px;
     -fx-font-family: "System Bold";
 }
 .application{
    -fx-font-size: 20px;
    -fx-font-family: "System Bold";
    -fx-font-weight: bold;
    -fx-background-color: #BFBFBF;
 }
 