.button-style{
    -fx-background-color: #444444;
    -fx-border-width: 4px;
    -fx-border-color: #E09D0D;
}
.button-style:hover{
    -fx-border-color: #E05D0D;
}
.button-style:pressed{
    -fx-background-color: #333333;
}
.toggle-style{
    -fx-background-color: #444444;
    -fx-border-width: 2px;
    -fx-border-color: #E09D0D;
}
.toggle-style:hover{
    -fx-border-color: #E05D0D;
}
.toggle-style:pressed{
    -fx-background-color: #333333;
}
.toggle-style:selected{
    -fx-border-color: #E05D0D;
    -fx-border-width: 4px;
}